.auth-container {
    width: 100%;
    display: grid;
    place-items: center;
    margin: auto;

    .logo {
        padding-top: 5%;
        width: 50%;
        margin-bottom: 30px;
    }

    .auth-wrapper {
        width: 90%;
        display: grid;
        place-items: center;

        .email-container, .name-container, .username-container, .password-container {
            width: 50%;
            display: flex;
            align-content: center;
            justify-content: space-between;
            margin: 10px;

            .email-label, .name-label, .username-label, .password-label {
                margin: 10px;
                text-align: left;
            }
        }
        .username-requirements, .password-requirements {
            width: 50%;
            font-size: 10px;
            color: red;
            text-align: right;
            margin-top: -10px;
        }
    }
}

.auth-footer {
    width: 45%;
    margin: 5px;

    .create-account-button {
        float: right;
    }
}