.reset-password-container {
    width: 100%;
    display: grid;
    place-items: center;
    margin: auto;

    .logo {
        padding-top: 5%;
        width: 50%;
        margin-bottom: 30px;
    }

    .reset-password-wrapper {
        width: 90%;
        display: grid;
        place-items: center;

        .email-container {
            width: 50%;
            display: flex;
            align-content: center;
            justify-content: space-between;
            margin: 10px;

            .email-label {
                margin: 10px;
                text-align: left;
            }
        }
    }
}

.auth-footer {
    width: 45%;
    margin: 5px;

    .back-button {
        float: left;
        width: fit-content;
    }

    .reset-password-button {
        float: right;
        width: fit-content;
    }
}