.service-content {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .account-connected {
        color: green;
        font-size: 10px;
    }
}

.playlists, .playlists-container {
    text-align: left;
    padding: 20px;

    .playlist-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 90px;
        margin-right: 40px;
    }
}

.playlists-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: auto;
}

.results-loading-container {
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}