.PlaylistItem {
    align-items: center;
    align-content: center;
    width: 200px;
    height: 250px;
    padding: 5px;

    img {
        width: 100%;
        height: 200px;
    }

    p {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }
}