.search-result-container {
    display: flex;
    justify-content: space-between;
    border-bottom: lightgrey solid 1px;

    .search-result-content {
        display: flex;
        padding: 5px 0;

        img {
            width: 150px;
            padding: 5px;
        }

        .search-result-data {
            align-content: center;
            padding-left: 5px;

            .song-title {
                font-weight: bold;
            }
        }
    }

    .add-playlist-button {
        height: 30px;
        width: 30px;
        align-self: center;
    }
}