.ServiceButton {
    border: 1px solid #000;
    width: 350px;
    height: 300px;
    align-items: center;
    align-content: center;
    padding: 0;

    a {
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
        align-items: center;
        align-content: center;
    }
}