.track-container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 5px;
    border-bottom: lightgrey solid 1px;

    .track-content {
        display: flex;
        width: 100%;
        padding: 20px;

        img {
            width: 150px;
            height: 150px;
        }

        .track-data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 50px
        }
    }

    .remove-playlist-button {
        width: fit-content;
        height: fit-content;
    }
}